.content {
  padding: 0 1rem;

  .content-wrapper {
    .content-headding {
      margin: 2rem 0;
      h2 {
        font-size: large;
        text-align: center;

        span {
          display: inline-block;
          padding: 0 1rem;
        }
      }
    }

    .concept {
      width: 90%;
      margin: 0 auto;

      h3 {
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 5px;
        line-height: 2;
        color: black;
      }
    }
    .content-sentence {
      p {
        line-height: 1.6;
        margin: 2rem 1rem;
        font-weight: 100;
      }
    }
  }
}

#salon {
  background-image: url(../images/back-ground/bg_green_blur.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
