header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;

  .header {
    padding: 1rem 0 ;

    .header-wrapper {
      border: solid 1px gray;
      padding: 0.6rem 0;

      .main-logo {
        width: 12rem;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }
    }
  }

  .navi {
    position: relative;
    padding: 0 0 10px 0;
    .navi-wrapper {
      width: 100%;
      //   background: #555; /* メニューの背景色 */
      overflow-x: auto;
      ul {
        width: 100%;
        overflow: scroll;
        display: flex;
        max-width: 1060px; /* メニューの最大幅 */
        min-width: 700px; /* メニューの最小幅 */
        height: 35px;
        line-height: 1.5;
        margin: 0 auto;
        list-style: none;
        padding-right: 20px; /* 右側の固定分余白を空ける */

        li {
          //   float: left;
          width: 350px; /* メニューの個別の幅 */
          text-align: center;
          margin: auto;
          //   display: inline-block;

        //   & + li {
        //     border-left: solid 1px gray;
        //   }
        }

        .small-font {
          font-size: small;
          padding: 4px 0 0 0;
        }
      }
    }
    .next-btn {
      /* 右側に固定する部分 */
      position: absolute;
      top: 5px;
      right: -10px;
      width: 20px; /* 固定部分の幅 */
      height: 20px; /* メニューの高さに合わせる */
      line-height: 40px;
      background: #fff;
      color: #555;
      padding: 2px;
      //   opacity: .8;

      img {
        display: block;
        width: 60%;
        margin: 6px auto;
      }
    }
  }
}

@media only screen and (min-width: 771px) {
  /* PCサイズでの指定 */
  header {
    .navi {
      position: relative;
      .navi-wrapper {
        ul {
          padding: 0;
          li {
            width: 14.2%; /* メニューの個別の幅 */
          }
        }
      }
      .next-btn {
        display: none; /* 右側の固定部分を非表示 */
      }
    }
  }
}
