#book {
  line-height: 1.4;

  .content-wrapper {
    margin-top: 2rem;
    .content-headding {
      p {
        text-align: center;
        margin: 1rem 0;
        font-size: small;
      }
    }
  }

  .menus {
    .supplement {
      font-size: 11px;
      font-weight: 100;
      line-height: 1.4;
      display: inline-block;
      margin: 6px auto;
    }

    .menu-book-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      width: 80%;
      margin: 2rem auto;
      font-size: 14px;

      .menu {
        color: black;
        flex-basis: 60%;
      }

      .price {
        flex-basis: 40%;
        text-align: right;
      }

      .supplement-box {
        flex-basis: 100%;
      }
    }
  }
}
