footer {
  margin: 2rem auto 0;

  .info {
    padding: 1rem;

    p {
      line-height: 1.4;
      font-size: small;
    }
  }

  .info-buttons {
    justify-content: center;

    .button {
      padding: 6px;

      .tel,
      .book-instagram,
      .google-map {
        border: solid 1px black;
        height: 38px;
        font-size: 12px;
        text-align: center;
        line-height: 38px;
        color: black;
      }
    }
  }
  .copy-right {
    text-align: center;
    color: black;
    padding: 0.8rem;
    font-size: small;
    margin: 1rem 0 0;
  }
}
